@import "~react-image-gallery/styles/css/image-gallery.css";

/* Fonts */

@font-face {
  font-family: "ITC Avant Garde Gothic Std Demi";
  src: local("ITC Avant Garde Gothic Std Demi"),
    url(./fonts/ITCAvantGardeStdDemi.otf);
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Demi Obl";
  src: local("ITC Avant Garde Gothic Std Demi Olb"),
    url(./fonts/ITCAvantGardeStdDemiObl.otf);
}

.Navbar1 {
  background-color: #032774;
  padding: 8px;
}

.Navbar2 {
  background-color: #ffdd15;
  padding: 20px;
  padding-bottom: 20px;
}
.Navbar2 .container .row #contacto,
#proyectos,
#nosotros,
#servicios,
#inicio,
#buscar {
  width: 20px;
  fill: #032774;
  padding-right: 4px;
}

.Navbar2 #burger {
  display: none;
  visibility: hidden;
}

.Navbar2 button {
  display: none;
  visibility: hidden;
}

.Navbar2 .col-8 ul {
  display: inline-flex;
  float: right;
  position: relative;
  top: 25%;
  bottom: 75%;
}
.Navbar2 .col-8 ul .buscar {
  padding-right: 0;
}
.Navbar2 .container .row #logo {
  fill: #032774;
  width: 200px;
}

.Navbar2 .container .row #logo_solo {
  display: none;
  visibility: hidden;
}

.Navbar2 .col-8 ul li {
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;
  color: #032774;
  font-family: "Source Sans Pro", sans-serif;
}
.Navbar2 .container .row .nav-item {
  color: #032774;
  text-align: right;
  padding-right: 4px;
  padding-left: 4px;
}
.Navbar1 .container .row .options {
  color: #fff;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
}
.Navbar2 .container .row .col-8 .link {
  color: #032774;
}

/*  Nosotros Styles  */

.Nosotros {
  padding: 30px;
}

.Nosotros h1 {
  font-family: "ITC Avant Garde Gothic Std Demi";
  color: #032774;
}

.Nosotros p {
  font-family: "Source Sans Pro", sans-serif;
  color: #000000;
}

/* Servicios Styles */

.Servicios {
  background-color: white;
}

.Servicios .curve {
  position: relative;
  width: 100%;
  margin: 20px 0;
  border-radius: 5% 5% 0 0 /70% 70% 0 0;
  text-align: center;
  text-indent: 0.1em;
  z-index: 1;
  margin: 0;
  padding: 30px;
}

.Servicios #curve-ser {
  background-color: #bbc7cc;
}

.Servicios h2 {
  color: #fff;
  font-family: "ITC Avant Garde Gothic Std Demi";
}

.Servicios h5 {
  font-family: "Source Sans Pro", sans-serif;
  color: #000000;
  text-align: center;
}

.Servicios .service-item {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  height: 100%;
}

.Servicios .col-lg-3,
.col-md-6,
.co.-sm-12 {
  padding: 10px;
  width: 100%;
}

.Services .service-banner {
  background-image: url("./images/banner_soluciones.jpeg");
  width: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.Services .service-banner div {
  background-color: rgba(3, 39, 116, 0.8);
  width: 100%;
  padding: 100px;
}

.Services .service-banner div h1 {
  color: #fff;
  font-family: "ITC Avant Garde Gothic Std Demi";
  font-size: 50px;
  margin-bottom: 0px;
}

.Services .service-banner div p {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}

.Services .services-section {
  padding: 30px;
}

.Services .service-image {
  background-image: url("./images/banner_soluciones.jpeg");
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  /* height: 220px;
  width: 220px; */
  width: 100%;
  height: 100%;
}

.Services .services-section .service-card {
  font-family: "ITC Avant Garde Gothic Std Demi";
  background-color: rgba(3, 39, 116, 0.8);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  /* height: 220px;
  width: 220px; */
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  vertical-align: middle;
}

.Services .services-section .service-card p {
  font-family: "ITC Avant Garde Gothic Std Demi";
  color: #fff;
  margin: auto;
  padding: 8px;
  display: inline;
}

.Services .services-section .service-card div {
  width: 95%;
  height: 95%;
  border: 1px solid #fff;
  margin: 0 auto;
  display: flex;
}

.Services .services-section .row {
  padding: 10px;
}

/* Clientes Styles */

.Clientes h2 {
  color: #032774;
  font-family: "ITC Avant Garde Gothic Std Demi";
  text-align: center;
}

.Clientes img {
  width: 95%;
  display: block;
  margin: 0 auto;
}

/* .Clientes .row {
  display: inline-block;
}

.Clientes .col-2 {
  display: table-cell;
  vertical-align: middle;
} */

.Clientes {
  background-color: #bbc7cc;
}

.Clientes .curve {
  position: relative;
  width: 100%;
  margin: 20px 0;
  border-radius: 5% 5% 0 0 /70% 70% 0 0;
  text-align: center;
  text-indent: 0.1em;
  z-index: 1;
  margin: 0;
  padding: 30px;
}

.Clientes #curve-cli {
  background-color: white;
}

/* Proyectos Styles */

.Proyectos h2 {
  color: #fff;
  font-family: "ITC Avant Garde Gothic Std Demi";
  text-align: center;
}

.Proyectos p {
  text-align: center;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}

.Proyectos {
  background-color: white;
}

.Proyectos .curve {
  position: relative;
  width: 100%;
  margin: 20px 0;
  border-radius: 5% 5% 0 0 /70% 70% 0 0;
  text-align: center;
  text-indent: 0.1em;
  z-index: 1;
  margin: 0;
  padding: 30px;
}

.Proyectos #curve-pro {
  background-color: #032774;
}

.Proyectos .container {
  text-align: center;
}

.Proyectos button {
  font-family: "ITC Avant Garde Gothic Std Demi";
  color: #fff;
  background-color: blueviolet;
  border-radius: 20px;
  border: none;
  padding: 12px;
  margin: 0 auto;
}

.Projects .project-banner {
  background-image: url("./images/banner_soluciones.jpeg");
  width: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.Projects .project-banner div {
  background-color: rgba(3, 39, 116, 0.8);
  width: 100%;
  padding: 100px;
}

.Projects .project-banner div h1 {
  color: #fff;
  font-family: "ITC Avant Garde Gothic Std Demi";
  font-size: 50px;
  margin-bottom: 0px;
}

.Projects .project-banner div p {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}

.Projects .projects-section {
  padding: 30px;
}

.Projects .project-image {
  background-image: url("./images/banner_soluciones.jpeg");
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  /* height: 220px;
  width: 220px; */
  width: 100%;
  height: 100%;
}

.Projects .projects-section .project-card {
  font-family: "ITC Avant Garde Gothic Std Demi";
  background-color: rgba(3, 39, 116, 0.8);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  /* height: 220px;
  width: 220px; */
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  vertical-align: middle;
}

.Projects .projects-section .project-card p {
  font-family: "ITC Avant Garde Gothic Std Demi";
  color: #fff;
  margin: auto;
  padding: 40px;
  display: inline;
}

.Projects .projects-section .project-card div {
  width: 95%;
  height: 95%;
  border: 1px solid #fff;
  margin: 0 auto;
  display: flex;
}

.Projects .projects-section .row {
  padding: 10px;
}

/* Galeria Styles */

.Galeria {
  background-color: #032774;
}

.Galeria .curve {
  position: relative;
  width: 100%;
  margin: 20px 0;
  border-radius: 5% 5% 0 0 /70% 70% 0 0;
  text-align: center;
  text-indent: 0.1em;
  z-index: 1;
  margin: 0;
  padding: 30px;
}

.Galeria #curve-gal {
  background-color: #0365c1;
}

.Galeria h2 {
  color: #fff;
  font-family: "ITC Avant Garde Gothic Std Demi";
  text-align: center;
}

/* Redes Styles */

.Redes {
  background-color: #0365c1;
}

.Redes .curve {
  position: relative;
  width: 100%;
  margin: 20px 0;
  border-radius: 5% 5% 0 0 /70% 70% 0 0;
  text-align: center;
  text-indent: 0.1em;
  z-index: 1;
  margin: 0;
  padding: 20px;
}

.Redes #curve-red {
  background-color: #2c2c3d;
}

.Redes .col-lg-1 {
  padding: 0;
  text-align: center;
}

.Redes a {
  color: #ccc;
  font-size: 40px;
}

.Redes .red {
  padding: 10px;
}

.Redes button {
  color: #ccc;
  font-family: "ITC Avant Garde Gothic Std Demi";
  background-color: transparent;
  border-radius: 25px;
  border: 3px solid #ccc;
  padding: 8px 10px 8px 10px;
}

/* Footer Styles */

.Footer {
  background-color: #032774;
  padding: 20px;
}

.Footer img {
  width: 35%;
  text-align: en;
}

.Footer .col-lg-6 {
  text-align: end;
}

.Footer h4 {
  color: #fff;
  font-family: "ITC Avant Garde Gothic Std Demi";
}

.Footer hr {
  color: #fff;
  background-color: #fff;
  margin: 10px;
}

.Footer p,
ul,
li {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0px;
}

.Footer ul {
  padding-left: 25px;
}

/* SolucionesBanner Styles */

.SolucionesBanner {
  background-image: url(images/banner_soluciones.jpeg);
  width: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  background-position: center;
}

/* .SolucionesBanner .row {
  display: inline-block;
} */

.SolucionesBanner .col-6 {
  display: table-cell;
}

.SolucionesBanner #blue {
  background-color: rgba(3, 39, 116, 0.8);
  padding: 80px;
  vertical-align: middle;
}

.SolucionesBanner .container {
  max-width: 100%;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.SolucionesBanner .row {
  height: 100%;
  margin: 0px;
}

.SolucionesBanner h1 {
  font-family: "ITC Avant Garde Gothic Std Demi";
  color: white;
  display: block;
  text-align: right;
}

.SolucionesBanner p {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  display: block;
  text-align: right;
}

.SolucionesBanner .line {
  border: 1px solid white;
}

/* Responsive */

@media (max-width: 400px) {
  .Redes a {
    font-size: 25px;
  }
}

@media (max-width: 834px) {
  .Navbar2 .container .row #contacto,
  #proyectos,
  #nosotros,
  #servicios,
  #inicio,
  #buscar,
  ul,
  li {
    display: none;
    visibility: hidden;
  }

  .Navbar2 .container .row #logo {
    display: none;
    visibility: hidden;
  }

  .Navbar2 #burger {
    color: #032774;
    visibility: visible;
    display: initial;
    font-size: 25px;
  }

  .Navbar2 button {
    display: initial;
    visibility: visible;
    background-color: transparent;
    border: none;
  }

  .Navbar2 .container .row #logo_solo {
    display: initial;
    visibility: visible;
    fill: #032774;
    width: 50px;
  }
}

/* Contacto */

.Contact .contact-banner {
  background-image: url("./images/banner_soluciones.jpeg");
  width: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.Contact .contact-banner div {
  background-color: rgba(3, 39, 116, 0.8);
  width: 100%;
  padding: 100px;
}

.Contact .contact-banner div h1 {
  color: #fff;
  font-family: "ITC Avant Garde Gothic Std Demi";
  font-size: 50px;
  margin-bottom: 0px;
}

.Contact .contact-banner div p {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}

.Contact .contact-section {
  padding: 30px;
}

.Contact label,
::placeholder {
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
}

.Contact p {
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
}

.Contact button {
  font-family: "ITC Avant Garde Gothic Std Demi";
  color: #fff;
  background-color: #0365c1;
  border-radius: 30px;
  border: none;
  padding: 8px 15px 8px 15px;
}

.Contact h2,
h5 {
  color: #032774;
  font-family: "ITC Avant Garde Gothic Std Demi";
}

.Contact i {
  background-color: #032774;
  color: #ffdd15;
  border-radius: 50%;
  padding: 10px;
}

.Contact .info-line {
  padding: 8px 0px 8px 0px;
}

.Contact .fila {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

/* Sidebar */

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #032774; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  font-family: "ITC Avant Garde Gothic Std Demi";
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
