/* Fonts */

@font-face {
  font-family: "ITC Avant Garde Gothic Std Demi";
  src: local("ITC Avant Garde Gothic Std Demi"),
    url(./fonts/ITCAvantGardeStdDemi.otf);
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Demi Obl";
  src: local("ITC Avant Garde Gothic Std Demi Olb"),
    url(./fonts/ITCAvantGardeStdDemiObl.otf);
}

.Navbar1 {
  background-color: #032774;
  padding: 8px;
}

.Navbar2 {
  background-color: #ffdd15;
  padding: 20px;
  padding-bottom: 20px;
}
.Navbar2 .container .row #contacto,
#proyectos,
#nosotros,
#servicios,
#inicio,
#buscar {
  width: 20px;
  fill: #032774;
  padding-right: 4px;
}
.Navbar2 .col-8 ul {
  display: inline-flex;
  float: right;
  position: relative;
  top: 25%;
  bottom: 75%;
}
.Navbar2 .col-8 ul .buscar {
  padding-right: 0;
}
.Navbar2 .container .row #logo {
  fill: #032774;
  width: 60%;
}
.Navbar2 .col-8 ul li {
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;
  color: #032774;
  font-family: "Source Sans Pro", sans-serif;
}
.Navbar2 .container .row .nav-item {
  color: #032774;
  text-align: right;
  padding-right: 4px;
  padding-left: 4px;
}
.Navbar1 .container .row .options {
  color: #fff;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
}
.Navbar2 .container .row .col-8 .link {
  color: #032774;
}

/*  Nosotros Styles  */

.Nosotros {
  padding: 30px;
}

.Nosotros h1 {
  font-family: "ITC Avant Garde Gothic Std Demi";
  color: #032774;
}

.Nosotros p {
  font-family: "Source Sans Pro", sans-serif;
  color: #000000;
}

/* Servicios Styles */

.Servicios {
  background-color: white;
}

.Servicios .curve {
  position: relative;
  width: 100%;
  margin: 20px 0;
  border-radius: 5% 5% 0 0 /70% 70% 0 0;
  text-align: center;
  text-indent: 0.1em;
  z-index: 1;
  margin: 0;
  padding: 30px;
}

.Servicios #curve-ser {
  background-color: #bbc7cc;
}

.Servicios h2 {
  color: #fff;
  font-family: "ITC Avant Garde Gothic Std Demi";
}

.Servicios h5 {
  font-family: "Source Sans Pro", sans-serif;
  color: #000000;
  text-align: center;
}

.Servicios .service-item {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  height: 100%;
}

.Servicios .col-3 {
  padding: 10px;
}

/* Clientes Styles */

.Clientes h2 {
  color: #032774;
  font-family: "ITC Avant Garde Gothic Std Demi";
  text-align: center;
}

.Clientes img {
  width: 95%;
  display: block;
  margin: 0 auto;
}

/* .Clientes .row {
  display: inline-block;
}

.Clientes .col-2 {
  display: table-cell;
  vertical-align: middle;
} */

.Clientes {
  background-color: #bbc7cc;
}

.Clientes .curve {
  position: relative;
  width: 100%;
  margin: 20px 0;
  border-radius: 5% 5% 0 0 /70% 70% 0 0;
  text-align: center;
  text-indent: 0.1em;
  z-index: 1;
  margin: 0;
  padding: 30px;
}

.Clientes #curve-cli {
  background-color: white;
}

/* Proyectos Styles */

.Proyectos h2 {
  color: #fff;
  font-family: "ITC Avant Garde Gothic Std Demi";
  text-align: center;
}

.Proyectos p {
  text-align: center;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}

.Proyectos {
  background-color: white;
}

.Proyectos .curve {
  position: relative;
  width: 100%;
  margin: 20px 0;
  border-radius: 5% 5% 0 0 /70% 70% 0 0;
  text-align: center;
  text-indent: 0.1em;
  z-index: 1;
  margin: 0;
  padding: 30px;
}

.Proyectos #curve-pro {
  background-color: #032774;
}

.Proyectos .container {
  text-align: center;
}

.Proyectos button {
  font-family: "ITC Avant Garde Gothic Std Demi";
  color: #fff;
  background-color: blueviolet;
  border-radius: 20px;
  border: none;
  padding: 12px;
  margin: 0 auto;
}

/* Galeria Styles */

.Galeria {
  background-color: #032774;
}

.Galeria .curve {
  position: relative;
  width: 100%;
  margin: 20px 0;
  border-radius: 5% 5% 0 0 /70% 70% 0 0;
  text-align: center;
  text-indent: 0.1em;
  z-index: 1;
  margin: 0;
  padding: 30px;
}

.Galeria #curve-gal {
  background-color: #0365c1;
}

.Galeria h2 {
  color: #fff;
  font-family: "ITC Avant Garde Gothic Std Demi";
  text-align: center;
}

/* Redes Styles */

.Redes {
  background-color: #0365c1;
}

.Redes .curve {
  position: relative;
  width: 100%;
  margin: 20px 0;
  border-radius: 5% 5% 0 0 /70% 70% 0 0;
  text-align: center;
  text-indent: 0.1em;
  z-index: 1;
  margin: 0;
  padding: 20px;
}

.Redes #curve-red {
  background-color: #2c2c3d;
}

.Redes .col-1 {
  padding: 0;
  text-align: center;
}

.Redes a {
  color: #ccc;
  font-size: 40px;
}

.Redes button {
  color: #ccc;
  font-family: "ITC Avant Garde Gothic Std Demi";
  background-color: transparent;
  border-radius: 25px;
  border: 3px solid #ccc;
  padding: 8px 10px 8px 10px;
}

/* Footer Styles */

.Footer {
  background-color: #032774;
  padding: 20px;
}

.Footer img {
  width: 35%;
  text-align: en;
}

.Footer .col-6 {
  text-align: end;
}

.Footer h4 {
  color: #fff;
  font-family: "ITC Avant Garde Gothic Std Demi";
}

.Footer hr {
  color: #fff;
  background-color: #fff;
  margin: 10px;
}

.Footer p,
ul,
li {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0px;
}

.Footer ul {
  padding-left: 25px;
}

/* Curvas Styles */

#curve-servicios {
  background: BBC7CC;
}

#back-servicios {
  background: white;
}
