/* Fonts */

@font-face {
  font-family: "ITC Avant Garde Gothic Std Demi";
  src: local("ITC Avant Garde Gothic Std Demi"),
    url(./fonts/ITCAvantGardeStdDemi.otf);
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Demi Obl";
  src: local("ITC Avant Garde Gothic Std Demi Olb"),
    url(./fonts/ITCAvantGardeStdDemiObl.otf);
}

.Navbar1 {
  background-color: #032774;
  padding: 8px;
}

.Navbar2 {
  background-color: #ffdd15;
  padding: 20px;
  padding-bottom: 20px;
}
.Navbar2 .container .row #contacto,
#proyectos,
#nosotros,
#servicios,
#inicio,
#buscar {
  width: 20px;
  fill: #032774;
  padding-right: 4px;
}
.Navbar2 .col-8 ul {
  display: inline-flex;
  float: right;
  position: relative;
  top: 25%;
  bottom: 75%;
}
.Navbar2 .col-8 ul .buscar {
  padding-right: 0;
}
.Navbar2 .container .row #logo {
  fill: #032774;
  width: 60%;
}
.Navbar2 .col-8 ul li {
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;
  color: #032774;
  font-family: "Source Sans Pro", sans-serif;
}
.Navbar2 .container .row .nav-item {
  color: #032774;
  text-align: right;
  padding-right: 4px;
  padding-left: 4px;
}
.Navbar1 .container .row .options {
  color: #fff;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
}
.Navbar2 .container .row .col-8 .link {
  color: #032774;
}
